<div class="mt-4">
  <div class="btn-group btn-CRUD">
   <div class="add">
    <a href="./post/create" class="btn btn-primary btn-add">Add post</a>
  </div>
  <div class="btn-CRUD">
        <a href="./post/storePost" class="btn btn-primary btn-add">Edit/Delete post</a>
    </div>
  </div>
  <div class="row">
    {{#each posts}}
    <div class="col-sm-6 col-lg-4">
        <div class="card" style="margin-top:16px;">
            <img src="https://climate.onep.go.th/wp-content/uploads/2020/01/default-image.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <p class="card-text">{{this.noiDung}}</p>
              <a href="./post/{{this.id}}" class="btn btn-primary">Detail</a>
            </div>
        </div>
    </div>
    {{/each}}

    </div>
  </div>
</div>
<style>
    p{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .add{
      display: flex;
      flex-direction: row-reverse;
    }
    .btn-group{
      display: flex;
      flex-direction: row-reverse;
    }

    .btn-CRUD{
      margin-left: 10px;
      margin-right: 10px;
    }
</style>
