<form style="margin-top: 20px" method="post" action="/api/v1/disease">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="nameDis"
      name="nameDis"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="Cause" class="form-label">Cause</label>
    <input type="text" class="form-control" id="Cause" name="Cause" />
  </div>
  <div class="mb-3">
    <label for="Condition" class="form-label">Conditions</label>
    <input type="text" class="form-control" id="Condition" name="Conditions" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>