<form style="margin-top: 20px" method="post" action="/api/v1/courses">

  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      aria-describedby="emailHelp"
    />
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" name="description"/>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input type="number" step="0.01" class="form-control" id="num" name="price"/>
  </div>
  <div class="mb-3">
    <label for="createdAt" class="form-label">Created At</label>
    <input type="date" class="form-control" id="createdAt" name="createdAt"/>
  </div>
  <div class="mb-3">
    <label for="idDis" class="form-label">Id Disease</label>
    <input type="number" class="form-control" id="num" name="idDis"/>
  </div>
  <script>
    const numInput = document.querySelector('#num');
    num.addEventListener('input', function(){
        let val = num.value;
        let result = val.valueAsNumber;
    })
    </script>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>